<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="DSM"
            id="eclipse-dsm-plugin">
      </category>
      <view
            name="DsmView"
            icon="icons/dsm-view-favicon.png"
            category="eclipse-dsm-plugin"
            class="com.dsmviewer.ui.views.DsmView"
            id="com.dsmviewer.ui.views.DsmView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.TaskList"
               relationship="right"
               id="com.dsmviewer.ui.views.DsmView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

<extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="Eclipse-DSM-viewer.DsmView"
            targetID="com.dsmviewer.ui.views.DsmView">
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.dsmviewer.ui.preferences.PreferencePage"
            id="com.dsmviewer.ui.preferences.PreferencePage"
            name="DSM-Viewer Preferences">
      </page>
   </extension>


   <!-- Popupmenu action to check selected projects on demand in packages scope -->
<extension point="org.eclipse.ui.popupMenus">
        <objectContribution objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="Run DSM on project">

            <visibility>
                <objectClass name="org.eclipse.core.resources.IProject"/>
            </visibility>

            <menu
                id="DSM Viewer menu"
                label="DSM Viewer menu"
                path="additions">
                <separator name="xbatch"/>
            </menu>
            <action
                label="Show packages DS-Matrix"
                class="com.dsmviewer.dtangler.DtanglerRunner"
                enablesFor="+"
                menubarPath="additions"
                tooltip="packages"
                id="Run DSM on resource"/>
        </objectContribution>


   <!-- Popupmenu action to check selected projects on demand in classes scope -->
        <objectContribution objectClass="org.eclipse.core.resources.IResource"
            adaptable="true"
            id="Run DSM on project">
            
            <visibility>
                <objectClass name="org.eclipse.core.resources.IProject"/>
            </visibility>

            <menu
                id="DSM Viewer menu"
                label="DSM Viewer menu"
                path="additions">
                <separator name="xbatch"/>
            </menu>
            <action
                label="Show classes DS-Matrix"
                class="com.dsmviewer.dtangler.DtanglerRunner"
                enablesFor="+"
                menubarPath="additions"
                tooltip="classes"
                id="Run DSM on resource"/>
        </objectContribution>
        
                
        <!-- Popupmenu action to check selected jars on demand -->
<objectContribution objectClass="org.eclipse.core.resources.IFile" adaptable="true" id="1">
<visibility>
<or>
<objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
<objectClass name="org.eclipse.jdt.core.IType"/>
<and>
<objectClass name="org.eclipse.core.resources.IFile"/>
<objectState name="extension" value="jar"/>
</and>
</or>
</visibility>

<action label="Show library classes DS matrix" class="com.dsmviewer.dtangler.DtanglerRunner"
enablesFor="1"
     menubarPath="additions"
     tooltip="classes"
     id="jarFile DtanglerRunner">
     <selection name="*.jar" class="org.eclipse.core.resources.IFile"/>
</action>
</objectContribution>
    
     <objectContribution objectClass="org.eclipse.core.resources.IFile" adaptable="true" id="2">
<visibility>
<or>
<objectClass name="org.eclipse.jdt.core.ICompilationUnit"/>
<objectClass name="org.eclipse.jdt.core.IType"/>
<and>
<objectClass name="org.eclipse.core.resources.IFile"/>
<objectState name="extension" value="jar"/>
</and>
</or>
</visibility>
<action label="Show library packages DS matrix" class="com.dsmviewer.dtangler.DtanglerRunner"
enablesFor="1"
     menubarPath="additions"
     tooltip="packages"
     id="jarFile DtanglerRunner">
     <selection name="*.jar" class="org.eclipse.core.resources.IFile"/>
</action>
</objectContribution>
               
    </extension>

</plugin>
